/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-oct-2017, 13:33:41
    Author     : Alumno
*/
#tapas{
    margin: 0 auto;
    max-width: 840px;
    position: absolute;
    border: solid 1px;
    left: 40%;      
}

#platos{
    margin: 0 auto;
    max-width: 840px;
    position: absolute;
    border: solid 1px;
    left: 40%;
    top: 26%;
}

#bebidas{
    margin: 0 auto;
    max-width: 840px;
    position: absolute;
    border: solid 1px;
    left: 40%;
    top: 46%;
}

#iva{
    margin: 0 auto;
    min-width: 250.781px;
    max-width: 840px;
    position: absolute;
    border: solid 1px;
    left: 40%;
    top: 77%;
}


#tapas > div, #platos > div, #bebidas > div, #iva{
    display: inline-block;
}

p{
    min-width: 110px;
}

#tapas > div > *, #platos > div > *, #bebidas > div > *, #iva > *{
    float: left;
    margin: 15px;
}


#total{
    position: absolute;
    left: 40%;
    top: 82%;
}

#botonComprar{
    position: absolute;
    left: 45%;
    top: 87%;
}
